html {
  scroll-snap-type: y mandatory;
}
section {
  background-color:#ffffff;

  height:100vh;
  scroll-snap-align: start;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;

  justify-content:center;
  align-content:center;
}
section:nth-child(even) {
  background-color:#eeeeee;
}
